<h1>Add Manga</h1>

<%= link_to 'Manga Page', mangas_path %>

<% if @manga.errors.any? %>
  <div class="p-4 mb-4 bg-red-100 border border-red-400 text-red-700 rounded">
    <h2 class="font-bold"><%= pluralize(@manga.errors.count, "error") %> prohibited this manga from being saved:</h2>
    <ul class="list-disc pl-5 mt-2">
      <% @manga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @manga, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4 %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :thumbnail %>
    <%= form.text_field :thumbnail %>
  </div>

  <div class="field">
    <%= form.label :banner %>
    <%= form.text_field :banner %>
  </div>

  <div class="field">
    <%= form.label :poster %>
    <%= form.text_field :poster %>
  </div>

  <div class="actions">
    <%= form.submit 'Create' %>
  </div>
<% end %>